aniso8601==9.0.1
async-timeout==4.0.3
attrs==23.1.0
blinker==1.6.2
cachelib==0.9.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
Deprecated==1.2.14
distro==1.7.0
distro-info==1.1+ubuntu0.1
exceptiongroup==1.1.2
Flask==2.3.3
Flask-Caching==2.0.2
Flask-Cors==4.0.0
Flask-Limiter==3.4.1
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.0.5
future==0.18.3
greenlet==2.0.2
gyp==0.1
h11==0.14.0
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
importlib-resources==6.0.1
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
limits==3.5.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.0
ordered-set==4.1.0
outcome==1.2.0
packaging==23.1
prestapyt @ git+https://github.com/prestapyt/prestapyt.git@f9898b4245611b487e4592f601a22a07de0a26cc
Pygments==2.16.1
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
PySocks==1.7.1
python-apt==2.4.0+ubuntu2
python-decouple==3.8
python-dotenv==1.0.0
python-simplexml==0.1.5
pytz==2023.3
PyYAML==5.4.1
redis==5.0.0
requests==2.31.0
rich==13.5.2
SecretStorage==3.3.1
selenium==4.10.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.20
systemd-python==234
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.7.1
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.0.4
wadllib==1.3.6
Werkzeug==2.3.7
wrapt==1.15.0
wsproto==1.2.0
xmltodict==0.13.0
zipp==1.0.0
