prestashop/db.env
prestashop/presta.env
microservices/venv/*
*pycache__/
*.env
__pycache__/
*.pyc
database.db
*.db
instance/
db_password.secret
venv/
*/tests/
.vscode/
.idea/
*.log


.gitignore
# Fichiers de configuration
db_password.secret

# Dossiers de base de données
instance/

# Fichiers compilés et caches
__pycache__/
*.pyc

# Dossiers de tests
*/tests/


# Fichiers de migrations
migrations/

# Fichiers et dossiers spécifiques à l'environnement virtuel (venv)
venv/

# Autres fichiers et dossiers à ignorer (ajoutez ici tout autre fichier/dossier que vous ne voulez pas suivre)
