Flask==2.3.3
Flask-Caching==2.0.2
Flask-Limiter==3.4.1
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.0.5
python-decouple==3.8
python-dotenv==1.0.0
python-simplexml==0.1.5
requests==2.31.0
SQLAlchemy==2.0.20
xmltodict==0.13.0
